#PHOTOGRAPHY {
  background-image: url('../images/large(294).jpg');
}

#FASHION {
  background-image: url('../images/large(4).jpg');
}

#ART {
  background-image: url('../images/large(8).jpg');
}

#CARS {
  background-image: url('../images/large(11).jpg');
}

#FILM {
  background-image: url('../images/large(16).jpg');
}

#GAMING {
  background-image: url('../images/large(161).jpg');
}

#SCIENCE {
  background-image: url('../images/large(253).jpg');
}

#MUSIC {
  background-image: url('../images/large(132).jpg');
}

#FINANCE {
  background-image: url('../images/large(83).jpg');
}

#FITNESS {
  background-image: url('../images/large(53).jpg');
}

#WHISKY {
  background-image: url('../images/large(97).jpg');
}

#MEMES {
  background-image: url('../images/large(135).jpg');
}

#TRAVEL {
  background-image: url('../images/large(239).jpg');
}

#WRITING {
  background-image: url('../images/large(214).jpg');
}

#MEDITATION {
  background-image: url('../images/large(170).jpg');
}

#COOKING {
  background-image: url('../images/large(193).jpg');
}

#DANCING {
  background-image: url('../images/large(148).jpg');
}

#CATS {
  background-image: url('../images/large(194).jpg');
}

#READING {
  background-image: url('../images/large(273).jpg');
}

#SPORTS {
  background-image: url('../images/large(324).jpg');
}
