#PHOTOGRAPHY {
  background-image: url('https://i.imgur.com/KTlnkSv.jpg');
}

#FASHION {
  background-image: url('https://i.imgur.com/oDghguQ.jpg');
}

#ART {
  background-image: url('https://i.imgur.com/HupWBCW.jpg');
}

#CARS {
  background-image: url('https://i.imgur.com/gTdLszv.jpg');
}

#FILM {
  background-image: url('https://i.imgur.com/W12UmMu.jpg');
}

#GAMING {
  background-image: url('https://i.imgur.com/JwISwpb.jpg');
}

#SCIENCE {
  background-image: url('https://i.imgur.com/vAfQITG.jpg');
}

#MUSIC {
  background-image: url('https://i.imgur.com/RVrRNwO.jpg');
}

#FINANCE {
  background-image: url('https://i.imgur.com/jF3gb7U.jpg');
}

#FITNESS {
  background-image: url('https://i.imgur.com/ym7Bwz4.jpg');
}

#WHISKY {
  background-image: url('https://i.imgur.com/mkyTYWo.jpg');
}

#MEMES {
  background-image: url('https://i.imgur.com/UWUqOB2.jpg');
}

#TRAVEL {
  background-image: url('https://i.imgur.com/OUkKgPi.jpg');
}

#WRITING {
  background-image: url('https://i.imgur.com/kx2Ogno.jpg');
}

#MEDITATION {
  background-image: url('https://i.imgur.com/WCj7kEz.jpg');
}

#COOKING {
  background-image: url('https://i.imgur.com/ocZ0kle.jpg');
}

#DANCING {
  background-image: url('https://i.imgur.com/thzp7Ha.jpg');
}

#CATS {
  background-image: url('https://i.imgur.com/dgSj6Zi.jpg');
}

#READING {
  background-image: url('https://i.imgur.com/7ZHXzKz.jpg');
}

#SPORTS {
  background-image: url('https://i.imgur.com/03p2rfZ.jpg');
}
