@font-face {
    font-family: 'MyFont';
    src: url('../fonts/Coves Light.otf');
}

@font-face {
    font-family: 'MyFont2';
    src: url('../fonts/XPLOR Bold-Regular.otf');
}

.playerturn {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}

* {
  font-family: 'MyFont';
  text-align: center;
  margin: 0;
  padding: 0;
  /*background-color: #00bd9d;
  color: white;*/
}

#appName {
  font-family: 'MyFont2';
  margin-top: 5%;
  font-size: 3em;
  margin-bottom: 0;
  color: #18bd9b;
}

#about {
  font-family: 'MyFont';
  font-size: 1em;
  color: #949494;
}

.title {
  cursor: pointer;
  border: solid 5px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  background-color: #ff6861;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

#login-signUp {
  margin-top: 5%;
  color: white;
}

#login {
  margin-bottom: 2%;
}

.login {
  border: none;
  margin-top: 2%;
}

.button {
  border: solid 1px;
  width: 120px;
  height: 20px;
  border-color: #18bd9b;
  background-color: #18bd9b;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.button2 {
  margin-top: 3%;
  border: solid 1px;
  width: 120px;
  height: 20px;
  border-color: #ff6861;
  background-color: #ff6861;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.line {
  border-bottom: solid 1px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-color: #949494;
}

.avatar {
  margin-top: 5%;
  width: 200px;
  height: 200px;
  vertical-align: middle;
  border: solid 2px;
  border-radius: 100%;
}

#categories {
  margin-top: 5%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  display: inline-block;
}

.likeslist {
  display: inline-block;
  list-style: none;
  margin-top: 10px;
  margin-right: 10px;
  border: solid 1px;
  width: 200px;
  cursor: pointer;
  padding-top: 40px;
  padding-bottom: 40px;
}

a {
  text-decoration: none;
  padding: 10px 80px;
  border-color: #ff6861;
  background-color: #ff6861;
  color: white;
  font-size: 10px;
  border-radius: 5px;
}

#show {
  color: #949494;
}

i {
  margin-top: 3%;
}

#share{
  margin-top: 30%;
  padding-bottom: 5%;
}

#uploadPhoto {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: 10px;
  padding-top: 3px;
  padding-bottom: 5px;
}

.uploadButton{
    margin-left: 170px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}
