<div class='animated fadeIn' id='show'>
  <img class='avatar' ng-src={{use.current.imglink}}>
  <br><br>
  <h1>{{use.current.firstName}} {{use.current.lastName}}</h1>
  <br>
  <h4>Age: {{use.current.age}}</h4>
  <br>
  <h4>Gender: {{use.current.gender}}</h4>
  <br>
  <h4>Info: {{use.current.about}}</h4>
  <br><br><br><br>
  <ul ng-repeat='like in use.current.likes'>
    <li class='likeslist' ng-click='use.deleteLike(like)'>{{like.name}}</li>
  </ul>

  <br><br><br><br>
  <div ng-controller='bodyController as body'>
     <a href="/" ng-click="body.logout()" ng-class="{'animated flash': animate}" ng-mouseover="animate =! animate" ng-mouseleave="animate =! animate">LOGOUT</a>
  </div>
</div>

<section id='categories' ng-controller='likesController as likesCtrl'>
  <ul ng-repeat='likes in likesCtrl.likes'>
    <li class='likeslist' id='{{likes.name}}' ng-click="likesCtrl.addLike(likes); hideLike = ! hideLike" ng-hide='hideLike' ng-class="{'animated flash': animate}" ng-mouseover="animate =! animate" ng-mouseleave="animate =! animate">{{likes.name}}</li>
  </ul>
</section>

<section>

  <input type="text" placeholder="filter" ng-model="searchBox">
  <br>
  <section>
    <ul>
      <li class="likeslist" ng-repeat="percentage in use.sorted | orderBy: '-percentage'">
        <a href="/users/{{percentage.value._id}}">Show</a>
        <br><br>
        First Name: {{percentage.value.firstName}}
        Last Name: {{percentage.value.lastName}}
        Email: {{percentage.value.email}}
        Age: {{percentage.value.age}}
        About: {{percentage.value.about}}
      </li>
    </ul>

  </section>
    <!-- Need to add an if statement if the user is logged in to make the a Tag available  -->
  <!-- <ul>

    <li ng-repeat="ppl in use.matches.sort() |filter: searchBox">

      <a href="/users/{{ppl._id}}">show!</a>
      ID: {{ppl._id}}
      First Name: {{ppl.firstName}}
      Last Name: {{ppl.lastName}}
      Email: {{ppl.email}}
      Password:  {{ppl.password}}
      Age: {{ppl.age}}
      About: {{ppl.about}}
    </li>
  </ul> -->

</section>
