<h1>{{use.current.firstName}}</h1> <h1>{{use.current.lastName}}</h1>
<h4>{{use.current.email}}</h4>
<h4>{{use.current.age}}</h4>
<h4>{{use.current.gender}}</h4>
<h4>{{use.current.about}}</h4>
<hr>
<ul>
  <li ng-repeat="interests in use.current.likes">{{interests.name}}</li>
</ul>
<div ng-controller='bodyController as body'>
   <a href="/" ng-click="body.logout()">Logout</a>
</div>

<hr>
<section ng-controller="userController as use">
  <input type="text" placeholder="filter" ng-model="searchBox">
  <ul>
    <li ng-repeat="ppl in use.users.sort() | filter:{'likes':1} | filter: searchBox">
      <!--Need to add an if statement if the user is logged in to make the a Tag available  -->
      <a href="/users/{{ppl._id}}">show!</a>
      ID: {{ppl._id}}
      First Name: {{ppl.firstName}}
      Last Name: {{ppl.lastName}}
      Email: {{ppl.email}}
      Password:  {{ppl.password}}
      Age: {{ppl.age}}
      About: {{ppl.about}}
    </li>
  </ul>

</section>
