<!-- Shows Partial -->

<!-- Shows user's information -->
<div class='animated fadeIn' id='show'>
  <img class='avatar' ng-src={{use.current.imglink}} ng-class="{'animated flip': animate6}" ng-mouseover="animate6 =! animate6" ng-mouseleave="animate6 =! animate6">
  <br><br>
  <h1>{{use.current.firstName}} {{use.current.lastName}}</h1>
  <br>
  <h4>Age: {{use.current.age}}</h4>
  <br>
  <h4>Gender: {{use.current.gender}}</h4>
  <br>
  <h4>Info: {{use.current.about}}</h4>
  <br><br><br><br>
  <div id='buttonWrapper'>
    <div class='a1' ng-mouseover="animate5 =! animate5" ng-mouseleave="animate5 =! animate5"><a href='/users/{{use.user._id}}'ng-class="{'animated fadeIn': animate5}">&nbsp&nbspHOME&nbsp&nbsp</a></div>
    <br>
    <div ng-controller='bodyController as body'>
      <div class='a1' ng-class="{'animated fadeIn': animate}" ng-mouseover="animate =! animate" ng-mouseleave="animate =! animate"><a href="/" ng-click="body.logout()">LOGOUT</a></div>
    </div>
    <br>
    <div ng-if="use.user._id===use.current._id">
    <div class='a1' ng-click='showMe =! showMe;'  ng-class="{'animated fadeIn': animate7}" ng-mouseover="animate7 =! animate7" ng-mouseleave="animate7 =! animate7">DELETE</div>
      <section class='animated fadeIn ulWrapper' ng-show='showMe'>
        <ul ng-repeat='like in use.current.likes'>
          <li class='likeslist' ng-click='use.deleteLike(like)' ng-if="use.user._id===use.current._id" id={{like.name}} ng-class="{'animated fadeIn': animate1}" ng-mouseover="animate1 =! animate1" ng-mouseleave="animate1 =! animate1">{{like.name}}</li>
        </ul>
      </section>
    </div>
    <!-- shows br if user is true -->
    <br ng-if="use.user._id===use.current._id">
  <!-- Shows like categories -->
    <div ng-if="use.user._id===use.current._id">
    <div class='a1' ng-click='showMe2 =! showMe2'  ng-class="{'animated fadeIn': animate8}" ng-mouseover="animate8 =! animate8" ng-mouseleave="animate8 =! animate8">UPDATE</div>
    <section id='categories' ng-controller='likesController as likesCtrl' ng-show='showMe2' class="animated fadeIn">
      <ul ng-repeat='likes in likesCtrl.likes' ng-if="likesCtrl.user._id===likesCtrl.page">
        <li class='likeslist' id='{{likes.name}}' ng-click="likesCtrl.addLike(likes); hideLike = ! hideLike" ng-hide='hideLike' ng-class="{'animated fadeIn': animate}" ng-mouseover="animate =! animate" ng-mouseleave="animate =! animate">{{likes.name}}</li>
      </ul>
    </section>
  </div>
</div>
<div ng-if="use.user._id!=use.current._id">
  <div class='a1' ng-click='showMe =! showMe;'  ng-class="{'animated fadeIn': animate7}" ng-mouseover="animate7 =! animate7" ng-mouseleave="animate7 =! animate7">SHOW</div>
    <section class='animated fadeIn ulWrapper' ng-show='showMe'>
      <ul ng-repeat='like in use.current.likes'>
        <li class='likeslist2' id={{like.name}}>{{like.name}}</li>
      </ul>
    </section>
</div>
<!-- Shows matches with other people -->
<br><br><br><br>
<section id='matchcontainer'>
  <input type="text" id='searchbox' placeholder="SEARCH HERE!" ng-model="searchBox">
  <br>
  <ul>
-    <li class='matches' ng-repeat="percentage in use.sorted | orderBy: '-percentage'" ng-if="percentage.value.firstName != use.current.firstName"><a href="/users/{{percentage.value._id}}"><img class='avatars' ng-src='{{percentage.value.imglink}}'></a>
      <br><br>
      {{percentage.percentage | number:0}}&nbsp%&nbsp&nbspMATCH
      <!-- First Name: {{percentage.value.firstName}}
      Last Name: {{percentage.value.lastName}}
      Email: {{percentage.value.email}}
      Age: {{percentage.value.age}}
      About: {{percentage.value.about}} -->
    </li>
  </ul>
</section>
